<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="protein-shakes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Protein Shakes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="protein-shakes-link">
                <a href="{% url 'products' %}?category=whey_protein" class="dropdown-item">Whey Protein</a>
                <a href="{% url 'products' %}?category=plant_protein" class="dropdown-item">Plant-Based Protein</a>
                <a href="{% url 'products' %}?category=protein_bars" class="dropdown-item">Protein Bars</a>
                <a href="{% url 'products' %}?category=whey_protein,plant_protein,protein_bars" class="dropdown-item">All Protein Shakes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="gym-wear-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gym Wear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gym-wear-link">
                <a href="{% url 'products' %}?category=activewear" class="dropdown-item">Activewear</a>
                <a href="{% url 'products' %}?category=gym_tanks" class="dropdown-item">Gym Tanks</a>
                <a href="{% url 'products' %}?category=leggings" class="dropdown-item">Leggings</a>
                <a href="{% url 'products' %}?category=activewear,gym_tanks,leggings" class="dropdown-item">All Gym Wear</a>
            </div>
        </li>
    </ul>
</div>
